@{
  ViewData["Title"] = "About Page";
}

<link href="~/css/about.css" rel="stylesheet" />
<div class="page">
  <div class="hero mb-5">
    <div class="hero-text">
      <h2>Про нас</h2>
      <p>Дізнайтесь більше про GoUkraine</p>
    </div>
  </div>
  <div class="container block about-us">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="/images/about/map.png" alt="" />
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="about-text">
          <h3 class="pb-3">Подорожуй з нами</h3>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <div>
            <a href="" class="btn btn-defu">Обрати тур</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flued experts block bg-light">
    <div class="container pb-5">
      <div class="title-tours text-center p-5">
        <h2>Наші туристичні консультанти</h2>
        <p>Допоможуть обрати Вам надійній і незабутній відпочинок </p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <figure class="figure">
            <img src="~/images/team/expert-1.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <h6>Фахівцем з питань обслуговування туристів</h6>
            <figcaption class="figure-caption">Савро Дмитро Олександрович</figcaption>
          </figure>
        </div>
        <div class="col-sm-3">
          <figure class="figure">
            <img src="~/images/team/expert-2.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <h6>Менеджер з міжнародного та внутрішнього туризму</h6>
            <figcaption class="figure-caption">Дідух Інна Сергіївна</figcaption>
          </figure>
        </div>
        <div class="col-sm-3">
          <figure class="figure">
            <img src="~/images/team/expert-3.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <h6>Інструктором з оздоровчого туризму</h6>
            <figcaption class="figure-caption">Слободян Валентин Миколайович</figcaption>
          </figure>
        </div>
        <div class="col-sm-3">
          <figure class="figure">
            <img src="~/images/team/expert-4.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <h6>Організатор подорожей, поїздок</h6>
            <figcaption class="figure-caption">Сімонова Ирина Валеріївна</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>