@{
  ViewData["Title"] = "About Page";
}

<div class="experts">
  <div class="containe">
    <div class="title-tours">
      <h2>Наші туристичні консультанти</h2>
      <p>Допоможуть обрати Вам надійній і незабутній відпочинок </p>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <figure class="figure">
          <img src="~/images/expert-1.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <h6>Фахівцем з питань обслуговування туристів</h6>
          <figcaption class="figure-caption">Савро Дмитро Олександрович</figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="figure">
          <img src="~/images/expert-2.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <h6>Менеджер з міжнародного та внутрішнього туризму</h6>
          <figcaption class="figure-caption">Хургада, Шарм эль шейх...</figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="figure">
          <img src="~/images/expert-3.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <h6>Інструктором з оздоровчого туризму</h6>
          <figcaption class="figure-caption">Скадовськ, Дністер...</figcaption>
        </figure>
      </div>
      <div class="col-sm-3">
        <figure class="figure">
          <img src="~/images/expert-4.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <h6>Організатор подорожей, поїздок</h6>
          <figcaption class="figure-caption">Болгарія, Греція...</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>