@{
  ViewData["Title"] = "BusTours Page";
}
<link href="~/css/busTours.css" rel="stylesheet" />
<div class="page">
  <div class="hero mb-5 ">
    <img src="~/images/busTours/baner-bus-tours.jpg" />
  </div>

  <div class="text-center mb-5">
    <h2>Автобусні тури</h2>
  </div>


  @*********************BLOCK TOURS******************************@
  <div class="container-fluid pl-5 pr-5">
    <div class="row m-0">
      <div class="col-md-6 col-12 sm-6 col-lg-6 col-xl-3 pb-3">
        <div class="tour">
          <div class="img-tour">
            <img src="~/images/tours/9.jpg" class="img-fluid rounded" alt="Турція">
            <div class="img-description d-flex justify-content-between">
              <div class="price">
                <p class="m-0">Вартість туру: 2000 грн.</p>
                <p class="m-0">за людину</p>
              </div>
              <a href="/home/DescriptionTourBus" class="more">
                <span>Детельніше</span>
              </a>
            </div>
            <div class="star hotel-star">
              <span>
                <svg>
                  <use xlink:href="/svg/sprite.svg#star"></use>
                </svg>
              </span>
              <p class="date-out">виїзд: 18/07/21</p>
            </div>
          </div>
        </div>
        <div class="place">
          <p class="m-0">Oz Hotels Sui Resort</p>
          <p class="p-0">Египит, Хургада</p>
        </div>
      </div>

      <div class="col-md-6 col-12 sm-6 col-lg-6 col-xl-3 pb-3">
        <div class="tour">
          <div class="img-tour">
            <img src="~/images/tours/9.jpg" class="img-fluid rounded" alt="Турція">
            <div class="img-description d-flex justify-content-between">
              <div class="price">
                <p class="m-0">Вартість туру: 2000 грн.</p>
                <p class="m-0">за людину</p>
              </div>
              <a href="/home/DescriptionTourBus" class="more">
                <span>Детельніше</span>
              </a>
            </div>
            <div class="star hotel-star">
              <span>
                <svg>
                  <use xlink:href="/svg/sprite.svg#star"></use>
                </svg>
              </span>
              <p class="date-out">виїзд: 18/07/21</p>
            </div>
          </div>
        </div>
        <div class="place">
          <p class="m-0">Oz Hotels Sui Resort</p>
          <p class="p-0">Египит, Хургада</p>
        </div>
      </div>

      <div class="col-md-6 col-12 sm-6 col-lg-6 col-xl-3 pb-3">
        <div class="tour">
          <div class="img-tour">
            <img src="~/images/tours/9.jpg" class="img-fluid rounded" alt="Турція">
            <div class="img-description d-flex justify-content-between">
              <div class="price">
                <p class="m-0">Вартість туру: 2000 грн.</p>
                <p class="m-0">за людину</p>
              </div>
              <a href="/home/DescriptionTourBus" class="more">
                <span>Детельніше</span>
              </a>
            </div>
            <div class="star hotel-star">
              <span>
                <svg>
                  <use xlink:href="/svg/sprite.svg#star"></use>
                </svg>
              </span>
              <p class="date-out">виїзд: 18/07/21</p>
            </div>
          </div>
        </div>
        <div class="place">
          <p class="m-0">Oz Hotels Sui Resort</p>
          <p class="p-0">Египит, Хургада</p>
        </div>
      </div>

      <div class="col-md-6 col-12 sm-6 col-lg-6 col-xl-3 pb-3">
        <div class="tour">
          <div class="img-tour">
            <img src="~/images/tours/9.jpg" class="img-fluid rounded" alt="Турція">
            <div class="img-description d-flex justify-content-between">
              <div class="price">
                <p class="m-0">Вартість туру: 2000 грн.</p>
                <p class="m-0">за людину</p>
              </div>
              <a href="/home/DescriptionTour" class="more">
                <span>Детельніше</span>
              </a>
            </div>
            <div class="star hotel-star">
              <span>
                <svg>
                  <use xlink:href="/svg/sprite.svg#star"></use>
                </svg>
              </span>
              <p class="date-out">виїзд: 18/07/21</p>
            </div>
          </div>
        </div>
        <div class="place">
          <p class="m-0">Oz Hotels Sui Resort</p>
          <p class="p-0">Египит, Хургада</p>
        </div>
      </div>
    </div>
  </div>
</div>
