@{
  ViewData["Title"] = "DescriptionTour Page";
}




<div class="container page mt-5">
  <div class="row">
    <div class="col-sm-8">
  
    <div class="descriptionTour">
      <p>Інформація про тур</p>
    </div>
  </div>
</div>


