@{
  ViewData["Title"] = "DescriptionTour Page";
}

<link href="~/css/desriptionTours.css" rel="stylesheet" />

<!-- Carousel Navigation -->
<!-- Carousel Navigation <!--I WILL REPLACE All images->-->
<section class="container mb-5">
  <div class="carousel-container position-relative row">
    <div class="col-lg-8 col-sm-12 p-0">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-slide-number="0">
            <img src="~/images/hotels/grand-hotel-derin/0.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/0.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="1">
            <img src="~/images/hotels/grand-hotel-derin/1.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/2.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="2">
            <img src="~/images/hotels/grand-hotel-derin/2.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/3.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="3">
            <img src="~/images/hotels/grand-hotel-derin/3.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/4.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="4">
            <img src="~/images/hotels/grand-hotel-derin/4.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/5.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="5">
            <img src="~/images/hotels/grand-hotel-derin/5.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/6.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="6">
            <img src="~/images/hotels/grand-hotel-derin/6.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/7.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="7">
            <img src="~/images/hotels/grand-hotel-derin/7.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/8.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
          <div class="carousel-item" data-slide-number="8">
            <img src="~/images/hotels/grand-hotel-derin/8.jpg" class="d-block " alt="Beldibi" data-remote="~/images/hotels/grand-hotel-derin/grand-hotel-derin/9.jpg" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
          </div>
        </div>
      </div>
      <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row mx-0">
              <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected" data-target="#myCarousel" data-slide-to="0">
                <img src="~/images/hotels/grand-hotel-derin/thumb/0.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="1">
                <img src="~/images/hotels/grand-hotel-derin/thumb/1.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="2">
                <img src="~/images/hotels/grand-hotel-derin/thumb/2.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="3">
                <img src="~/images/hotels/grand-hotel-derin/thumb/3.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="4">
                <img src="~/images/hotels/grand-hotel-derin/thumb/4.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="5">
                <img src="~/images/hotels/grand-hotel-derin/thumb/5.jpg" class="img-fluid" alt="Beldibi">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row mx-0">
              <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="6">
                <img src="~/images/hotels/grand-hotel-derin/thumb/6.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="7">
                <img src="~/images/hotels/grand-hotel-derin/thumb/7.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="8">
                <img src="~/images/hotels/grand-hotel-derin/thumb/8.jpg" class="img-fluid" alt="Beldibi">
              </div>
              <div class="col-2 px-1 py-2"></div>
              <div class="col-2 px-1 py-2"></div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!--I WILL REPLACE THE TEXT IN SPAN-->
    <div class="col-lg-4 col-sm-12  bg-light hotel-star text-dark p-0">
      <div class="info-tour p-4">
        <h4 class="font-weight-bold pb-3">Інформація про тур</h4>
        <p>Дата тура: <span>з 01.07.2021 до 08.07.2021 </span></p>
        <p class="mb-0">
          <span>
            <svg>
              <use xlink:href="/svg/sprite.svg#black-plane"></use>
            </svg>
          </span>01 липня,  <span> з Київ (14.00)</span>
        </p>
        <p>
          <span>
            <svg>
              <use xlink:href="/svg/sprite.svg#flights-back"></use>
            </svg>
          </span>08 липня, <span> з Анталья (9.10)</span>
        </p>
        <p class="m-0">Тривалість туру: <span>7 ночей</span></p>
        <p class="m-0">Харчування: <span>все включено</span></p>
        <p class="m-0">Кількість туристів: <span>2 дорослих</span></p>
        <p class="m-0">
          Тип готелю:
          <span>
            <!--I WILL REPLACE THE STAR ICONS-->
            <svg>
              <use xlink:href="/svg/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg>
              <use xlink:href="/svg/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg>
              <use xlink:href="/svg/sprite.svg#star"></use>
            </svg>
          </span>
          <span>
            <svg>
              <use xlink:href="/svg/sprite.svg#star"></use>
            </svg>
          </span>
        </p>
        <p>Вартість тура <span> за 2 туриста:</span></p>
        <h3>16 412 грн.</h3>
        <button type="button" class="btn reserveTour">Замовити тур</button>
      </div>

      @*    RESERVE TOUR FORM*@
      <div class="formReserve text-right">
        <span aria-hidden="true" role="button" class="btnCloseForm">&times;</span>
        <form class="form-container text-center">
          <h3>Замовити тур</h3>
          <p class="text-center">Введіть будь ласка номер телефону та ім'я, наш агент звяжеться з Вами, щоб забронювати тур</p>
          <input type="text" class="text-primary" placeholder="Iм'я" name="SenderName" required>
          <input type="text" class="text-primary" placeholder="+38 (0ХХ) ХХХ ХХ ХХ" name="PhoneNumber" required>
          <button type="button" class="btn booking">Замовити</button>
        </form>
        <form class="form-container text-center success-form d-none">
          <p class="font-weight-bold pb-5">Дякую за бронювання, наш мененджер звяжеться з Вами за декілька хвилин</p>
          <span>
            <svg>
              <use xlink:href="/svg/sprite.svg#check-mark"></use>
            </svg>
          </span>
        </form>
      </div>

    </div>
  </div>
</section>

<!-- Program of tour-->
<section class="container mt-5">
  <h4 class="mt-5 mb-5">В програму тура включено:</h4>
  <div class="row bg-light justify-content-center p-4">
    <div class="col-lg-2 allinclusive text-center">
      <span>
        <svg>
          <use xlink:href="/svg/sprite.svg#hotel"></use>
        </svg>
      </span>
      <p class="pl-2 pr-2">Проживання в 2-х місному номері</p>
    </div>

    <div class="col-lg-2 allinclusive text-center">
      <span>
        <svg>
          <use xlink:href="/svg/sprite.svg#public-transport"></use>
        </svg>
      </span>
      <p class="pl-2 pr-2">Трансфер</p>
    </div>

    <div class="col-lg-2 allinclusive text-center">
      <span>
        <svg>
          <use xlink:href="/svg/sprite.svg#food-serving"></use>
        </svg>
      </span>
      <p class="pl-2 pr-2">Харчування</p>
    </div>

    <div class="col-lg-2 allinclusive text-center">
      <span>
        <svg>
          <use xlink:href="/svg/sprite.svg#safe"></use>
        </svg>
      </span>
      <p class="pl-2 pr-2">Страхування</p>
    </div>
    <div class="col-lg-2 allinclusive text-center">
      <span>
        <svg>
          <use xlink:href="/svg/sprite.svg#plane"></use>
        </svg>
      </span>
      <p class="pl-2 pr-2">Переліт (авіакомпанія)</p>
    </div>
  </div>
</section>

<!-- Tabs -->
<section class="container mt-5">
  <div id="tabs">
    <div class="container">
      <h3 class="section-title mt-5 mb-5">Детально</h3>
      <div class="row">
        <div class="col-xs-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-hotel-tab" data-toggle="tab" href="#nav-hotel" role="tab" aria-controls="nav-hotel" aria-selected="true">Готель</a>
              <a class="nav-item nav-link" id="nav-visit-tab" data-toggle="tab" href="#nav-visit" role="tab" aria-controls="nav-visit" aria-selected="false">Пляж</a>
              <a class="nav-item nav-link" id="nav-city-tab" data-toggle="tab" href="#nav-city" role="tab" aria-controls="nav-city" aria-selected="false">Про курорт (місто)</a>
              <a class="nav-item nav-link" id="nav-fun-tab" data-toggle="tab" href="#nav-fun" role="tab" aria-controls="nav-fun" aria-selected="false">Розваги</a>
              <a class="nav-item nav-link" id="nav-cildren-tab" data-toggle="tab" href="#nav-children" role="tab" aria-controls="nav-children" aria-selected="false">Для дітей</a>
              <a class="nav-item nav-link" id="nav-weather-tab" data-toggle="tab" href="#nav-weather" role="tab" aria-controls="nav-weather" aria-selected="false">Клімат</a>
              <a class="nav-item nav-link" id="nav-addition-tab" data-toggle="tab" href="#nav-addition" role="tab" aria-controls="nav-addition" aria-selected="false">Додатково (потрібно знати)</a>
            </div>
          </nav>
          <!--I WILL  REPLACE all TEXT-->
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-hotel" role="tabpanel" aria-labelledby="nav-hotel-tab">
              <div class="row">
                <div class="col-sm-12 pt-3">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th scope="row">Час заїзду / від'їзду</th>
                        <td>Час заселення в номер - після 14:00, час здачі номера в день від'їзду - до 12:00.</td>
                      </tr>
                      <tr>
                        <th scope="row">Розміщення</th>
                        <td>Готель знаходиться в курортному селищі Бельдібі, в 15 км від центру Кемера, в 65 км від аеропорту Анталії. Загальна площа території готелю - 4500 кв.м. Рік відкриття готелю - 2005 Остання Реновація - 2015 р</td>
                      </tr>
                      <tr>
                        <th scope="row">Розміщення</th>
                        <td>
                          Готельний комплекс складає один 5-поверхового головного будинку і одного 3-поверхового корпусу Анекс. Всього 280 номерів.
                          <span>До розміщення пропонуються номери категорій:</span>
                          <ul>
                            <li><strong>Economy</strong> (15 кв.м, однокімнатний номер в корпусі Анекс, макс. 2 + 1 чол.)</li>
                            <li><strong>Standard</strong> (22 кв.м, однокімнатний номер, в основній будівлі, макс. 2 + 1 чол.)</li>
                          </ul>
                          Розміщення з домашніми тваринами заборонено.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">У номері</th>
                        <td>
                          <ul>
                            <li>ванна</li>
                            <li>фен</li>
                            <li>туалетні приналежності</li>
                            <li>кондиціонер</li>
                            <li>LCD ТВ</li>
                            <li>телефон</li>
                            <li>балкон</li>
                            <li>Wi-Fi (платно)</li>
                            <li>сейф (платно)</li>
                            <li>міні-бар (безкоштовно, 1,5 л води 1 раз по заїзд)</li>
                            <li>прибирання (5 разів на тиждень)</li>
                            <li>зміна постільної білизни та рушників (3 рази в тиждень)</li>
                            <li>цілодобовий сервіс (платно)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Територія</th>
                        <td>
                          <ul>
                            <li>Wi-Fi</li>
                            <li>обмін валюти</li>
                            <li>прокат авто</li>
                            <li>магазин</li>
                            <li>цілодобова стійка реєстрації</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Опис All Inclusive</th>
                        <td>
                          Готель пропонує харчування по системі <b>All Inclusive:</b>
                          <ul>
                            <li>сніданок (07: 00-09: 00, головний ресторан, шведський стіл)</li>
                            <li>пізній сніданок (09: 00-10: 00, головний ресторан, шведський стіл)</li>
                            <li>обід (12: 30-14: 00, головний ресторан, шведський стіл)</li>
                            <li>вечеря (19: 30-21: 00, головний ресторан, шведський стіл)</li>
                            <li>пізню вечерю (23: 00-23: 30 головний ресторан, нічний суп)</li>
                            <li>закуски в перебігу дня (11: 00-16: 00)</li>
                            <li>чай, кава, випічка (17: 00-18: 00)</li>
                            <li>алкогольні та безалкогольні напої місцевого виробництва</li>
                          </ul>
                          <p>За додаткову плату: всі напої після 22:00.</p>
                          <p><em>* Адміністрація готелю залишається за собою право вносить зміни в концепцію харчування.</em></p>
                        </td>
                      <tr>
                        <th scope="row">Ресторани і бари</th>
                        <td>
                          <b>Ресторани:</b>
                          <ul>
                            <li>головний ресторан (07: 00-23: 30)</li>
                          </ul>
                          <b>Бари:</b>
                          <ul>
                            <li>бар у бассейна (10: 00-22: 00)</li>
                            <li>снэк-бар (11: 00-16: 00)</li>
                          </ul>
                          <p>Керівництво готелю залишає за собою право вносити зміни в години роботи всіх об'єктів на території готелю і заходів (зазначених в описі) без попереднього повідомлення і в залежності від погодних умов.</p>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Мова</th>
                        <td>Персонал готелю говорить на турецькому, російською, англійською та німецькою мовами.</td>
                      </tr>
                      <tr>
                        <th scope="row">Важлива інформація</th>
                        <td>
                          <p>Розміщення двох чоловіків в одному номері заборонено.</p>
                          <p>Куріння в строго відведених місцях.</p>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Кредитні картки</th>
                        <td>До оплати приймаються картки Visa і Master Card.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-visit" role="tabpanel" aria-labelledby="nav-visit-tab">
              Власний піщано-галькові, в 100 м від готелю. Між пляжем і готельної зоною проходить автомобільна дорога.
              <p>Пляжне обладнання - безкоштовно. Пляжні рушники - платно. Вхід в море - галька.</p>
            </div>
            <div class="tab-pane fade" id="nav-city" role="tabpanel" aria-labelledby="nav-city-tab">
              <p class="pt-3"><img class="w-100" src="~/images/turkey/beldibi.jpg" /></p>
              <p class="mt-3">Бельдібі (Beldibi) - курортне селище на узбережжі Середземного моря. Розташований в підніжжя гірської системи Східні таври, в 25 км південніше міста Анталья, 17 кілометрах від Кемера.</p>
              <p>Свою назву містечко отримало по імені невеликої річки, довжина якої близько 4 км. У минулому тут було звичайне село, жителі якої, в основному, займалися вирощуванням апельсинів. Але з середини 80-х років минулого століття, почав розвиватися туризм, будуються недорогі готелі.</p>
              <p>Бельдібі спочатку позиціонувався як бюджетний курорт, де проживання та послуги доступні всім. Але на початку 21 століття почалося будівництво вишуканих готелів. Це місце ідеально підходить для любителів природи (особливо гірських місцевостей) і активного відпочинку. Тут дуже популярні походи в гори, маршрут проходить по дуже мальовничій місцевості.</p>
              <p>Курорт розташований в довгій вузькій долині і протягнутий уздовж узбережжя паралельно схилам Тавра на 7 км.</p>
              <p>Пляж Бельдібі, в основному, складається з великої гальки. Близько деяких готелів є насипний пісок.</p>
              <h4 class="text-info">Пам'ятки і розваги</h4>
              <p>Розваги обмежуються басейнами з невеликими гірками, які є в багатьох готелях. Для розваг краще відправитися в міста Кемер де дискотеки та багато нічних клубів. Там же є і великі торгові центри, які відсутні на курорті.</p>
              <p>Розваг в Бельдібі небагато. У безпосередній близькості тільки гори, куди можна відправитися самостійно або з екскурсії.</p>
              <p>Якщо ви хочете дійсно подивитися щось цікаве, то варто з'їздити в старовинне місто Фазеліс, яке було заснованне колоністами з Родосу в 7 столітті до н. е. і вважався великим торговим і військовим центром. </p>
              <p>З Бельдібі дуже популярні екскурсії в Анталію, в руїнах античного міста Миру, в древній ликийский Термессос і, нарешті, в Каньйон Гейнюк, Який веде на мальовничий Ликийский шлях.</p>
              <p>За понеділка в Бельдібі працює виїзний ринок.</p>
              <p>Джерело: <a href="https://turktrip.ru/kemer/beldibi">https://turktrip.ru/kemer/beldibi</a></p>
            </div>
            <div class="tab-pane fade pt-3" id="nav-fun" role="tabpanel" aria-labelledby="nav-fun-tab">
              <table class="table table-striped ">
                <tbody>
                  <tr>
                    <th>Розваги і спорт</th>
                    <td>
                      <ul>
                        <li>відкритий басейн (220 кв.м)</li>
                        <li>водні гірки</li>
                      </ul>
                      <b>бесплатно:</b>
                      <ul>
                        <li>фітнес зал</li>
                        <li>водне поло</li>
                        <li>анімація</li>
                        <li>настільний теніс</li>
                        <li>дартс</li>
                        <li>більярд</li>
                        <li>дискотека</li>
                      </ul>
                      <b>За додаткову плату:</b>
                      <ul>
                        <li>хамам</li>
                        <li>сауна</li>
                        <li>масаж</li>
                        <li>прокат велосипедів</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-children" role="tabpanel" aria-labelledby="nav-children-tab">
              <table class="table table-striped ">
                <tbody>
                  <tr>
                    <th>Для дітей</th>
                    <td>
                      <ul>
                        <li>дитячий басейн</li>
                        <li>дитяча анімація</li>
                        <li>високі стільці в ресторані</li>
                        <li>дитячий ігровий майданчик</li>
                        <li>дитяче ліжечко (за запитом)</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="nav-weather" role="tabpanel" aria-labelledby="nav-addition-tab">
              <h4 class="text-info">Клімат</h4>
              <p>Купальний сезон триває з травня по жовтень. Найбільш жаркі місяці - липень і серпень, коли стовпчик термометра піднімається до +32 Beldibi + 34. У літній період опадів майже ніколи не буває, лише в квітні та жовтні іноді пройде невеликий дощик. Кращий час для поїздки - червень і вересень, коли погода в Бельдібі Найбільш комфортна - не дуже жарко і не прохолодно.</p>
            </div>
            <div class="tab-pane fade" id="nav-addition" role="tabpanel" aria-labelledby="nav-addition-tab">
              <h4 class="text-danger">Важливо!</h4>
              <p>
                Шановні туристи дякую Вам за уважність до цієї інформації. Наша компанія хотіла би зупинитися на деяких моментах данного туристичного продукту. Наша основна мете задовільнити туриста під час перебування його на відпочинку, а також залишити позитивні враження після поверення його до домому, відтак:
                <h4>Щодо недоліків:</h4>
                <ul>
                  <li>будь-ласка пам'ятайте, що це економ варіант;</li>
                  <li>готель був збудований у 2005 році і остання реновація була 2015 року, тому незначні подряпинки у ванні обо ще десь це можливі;</li>
                  <li>будь ласка памятайте, що в готелях не видають одноразову постільну білизну тільки випране та випрасуване;</li>
                  <li>будь ласка перед придбанням данного туристичного продукту перегляньте уважно всю інформацію щодо готелю та місця розташування задля уникнення непорозумінь у випадку відсутності якоїсь послуги;</li>
                  <li>якщо Ви бажаєте знати про недоліки, які можуть Вас супроводжувати під час відпочинку, політика нашої компанії повідомити про це туриста.</li>
                </ul>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<script src="~/js/descriptiontour.js"></script>
<script src="~/js/Carousel.js"></script>
