@{
  ViewData["Title"] = "EventsHome3 Page";
}
<section class="container">
  <div class="row">
    <div class="col-sm-12 margin-page">
      <h3 class="mb-3">Заборона на виконання авіаційних перевезень між Україною та Республікою Білорусь з 00:00 26 травня 2021р.</h3>
      <p class="m-0">26.05.2021</p>
      <p>Шановні туристи!</p>
      <p>Згідно з постановою Кабінету Міністрів України, уряд запроваджує <strong>05 червня до 31 липня 2021 року заборону на виконання авіаційних перевезень між Україною та Республікою Білорусь з 00:00 26 травня 2021р.</strong></p>
      <p>Рішення прийнято з метою забезпечення безпеки авіації та суспільства.</p>
      <p>Встановлюється заборона на:</p>
      <ul>
        <li>здійснення будь-яких видів польотів з/до між пунктами призначення розташованих на території України та Республіки Білорусь українськими та білоруськими експлуатантами;</li>
        <li>виконання будь-яких видів польотів українськими екплуатантами у повітряному просторі Республіки Білорусь.</li>
      </ul>
      <p>Нагадуємо, що при перетині державного кордону України, всі іноземні громадяни (окрім іноземців, які постійно проживають на території України) повинні надати негативний результат ПЛР-тестування, зроблений не пізніше <b>ніж за 72 години</b> до перетину державного кордону.</p>
      <a href="https://www.kmu.gov.ua/news/uryad-zaprovadzhuye-zaboronu-na-vikonannya-aviacijnih-perevezen-mizh-ukrayinoyu-ta-respublikoyu-bilorus" target="_blank">Посилання на офіційне джерело</a>
    </div>
  </div>
</section>