@{
  ViewData["Title"] = "EventsHome0 Page";
}

<section class="container ">
  <div class="row mb-5">
    <div class="col-sm-12 margin-page">
      <h3 class="mb-3">Скасування обов'язкового проходження тестування та / або самоізоляції при поверненні в Україну</h3>
      <p class="m-0">16.06.2021</p>
      <p>Шановні туристи!</p>
      <p>Сьогодні Кабінет Міністрів України ухвалив «зелений» рівень епідемічної небезпеки по всій території України.</p>
      <p>З 17 червня 2021 року українців та власників посвідки на постійне проживання звільнено від вимоги наявності або проходження тестування та / або самоізоляції зі встановленням додатку Вдома при поверненні в Україну з будь-якої країни світу.</p>
      <p>Тобто, в'їзд в Україну повністю вільний для українців та власників посвідки на постійне проживання.</p>
      <p class="m-0">Для іноземців завжди обов’язково потрібно мати страховий поліс на випадок захворювання на COVID-19, та одну із наступних позицій:</p>
      <ul>
        <li>негативний результат тестування на COVID-19 методом ПЛР (не більше як за 72 години до перетину кордону),</li>
        <li>негативний результат експрес-тесту на визначення антигена коронавірусу SARS-CoV-2 (не більше як за 72 години до перетину кордону),</li>
        <li>документ, що підтверджує отримання повного курсу вакцинації від COVID-19 вакцинами, включеними ВООЗ до переліку дозволених для використання у надзвичайних ситуаціях, виданий відповідно до ММСП або відповідно до укладених Україною міжнародних договорів про взаємне визнання документів про вакцинацію.</li>
      </ul>
      <p>Зміни почнали діяти з 17.06.2021 з 00:00 годин.</p>
      <a href="https://www.kmu.gov.ua/news/moz-v-ukrayini-vstanovili-novi-karantinni-normi?fbclid=IwAR27D-xIPg5eZFHNzP2U5YnkVFmoTyJbHh7rsyxBQKWrRf3nnt6uGLWUknU">Посилання на офіційне джерело</a>
    </div>
  </div>
</section>