@{
  ViewData["Title"] = "Gallery Page";
}
<link href="~/css/gallery.css" rel="stylesheet" />

<div class="page">
  <div class="hero">
    <div class="hero-text">
      <h2>Галерея</h2>
      <p>Незабутні враження від GoUkraine</p>
    </div>
  </div>

  <div class="block m-5 text-center">
    <h2>Згадка про подорожі</h2>
  </div>
  <section class="container-fluid pb-5">
    <section class="row gellary">
      <div class="col-lg-3">
        <img src="~/images/gallery/1.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/8.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/6.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/19.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/14.jpg" id="galleryImg" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="~/images/gallery/12.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/2.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/27.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/31.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/18.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/10.jpg" id="galleryImg" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="~/images/gallery/3.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/26.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/17.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/22.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/15.jpg" id="galleryImg" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="~/images/gallery/4.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/20.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/23.jpg" id="galleryImg" alt="" />
        <img src="~/images/gallery/24.jpg" id="galleryImg" alt="" />
      </div>
    </section>
  </section>
</div>

<!-- The Modal -->
<div id="templateModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg">
  <div id="caption"></div>
</div>
<script src="~/js/gallery.js"></script>
