/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Segoe UI' Arial, Helvetica, sans-serif;
}
a.navbar-brand {
    text-align: center;
    white-space: normal;
}
.navbar {
    font-size: 13px;
    padding: 30px;
    z-index: 3;
}
.logo img {width: 200px;}
.btn {
    color: #fff;
    background: #2a7ba8;
    font-size: 13px;
}
.btn:hover {
    background: #ffd101;
    color: #2a7ba8;
}
/* Sticky main styles
-------------------------------------------------- */
.home {
    width: 100%;
    height: 100vh;
}
.banner-wave img {
    position: absolute;
    bottom: 0;
    width: 100%;
 }
/*/TOURS*/
.block {margin-bottom: 50px;}
.block h2{
   color: #2a7ba8;
   text-transform: capitalize;
   font-weight: 400;
   font-size: 3em;
}
.block p {color: #808080;}
.heading {
    padding: 50px;
    text-align: center;
}
.tours {background: #f5f5f5;}
.boxes {
    height: 100vh;
    width: 100%;
}
.why-goukraine {
    background: url(../images/why-goukraine.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.why-goukraine svg {
    fill: #2a7ba8;
    width: 100px;
    height: 100px;
}
.box-conteiner {
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
}
.box {
    background: #fff;
    margin: 10px 10px; 
    padding:  20px;
}
.box p{
    padding: 10px 0;
}
.box img {
    width: 50px;
    height: 50px;
}
.post  {text-align: center;}
.post figcaption {padding-bottom: 20px;}
.find-tour-banner {
    background:  url(../images/island.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.text-find-tour {
    padding: 250px 0;
    margin: 0;
}
.find-tour-banner h2{
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    text-transform: capitalize;
}
.find-tour-banner span {color: #ffd101;}
.partners img{
    display: block;
    margin: 0 auto;
}
/* Sticky footer styles
-------------------------------------------------- */
footer {
    border-top: 2px solid #2a7ba8;
    color: #fff;
    margin-top: 120px;
    background: #1d1c1c;
}
.footer-container {
    padding: 50px 20px;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    padding: 5px 0;
}
footer a {text-transform: capitalize;}
footer a:hover{
    text-decoration: none;
    color: #c2bebe;
}
footer h6{ 
    padding: 5px 0;
}
footer svg {
    width: 20px;
    height: 20px;
}
footer span {padding: 0 10px;}
.contacts svg {fill: #2a7ba8;}
svg.facebook {fill: #3b5998;}
svg.viber {fill: #665CAC;}
svg.whatsapp {fill: #43d854;}

.footer-copyright {
    background: #232323;
}
/* Sticky media styles
-------------------------------------------------- */
@media (min-width: 768px) {
    html {
            font-size: 16px;
        }
}
@media (max-width: 768px) {
   .block h2 {
        font-size: 26px;
    }
}
@media (min-width: 1200px) {
    .banner-wave img {
        bottom: -20px;
    }
  }

