body {font-family: 'Segoe UI' Arial, Helvetica, sans-serif;}
.page {
    position: relative;
    top: 130px;
    left: 0;
}
main {
    z-index: -1;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1005;
}
span.btnCloseCallMe {
    cursor: pointer;
    display: block;
}
.hero-text {
        height: 100%;
}
.hero-text {
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a.nav-link {color: #808080; text-transform: none;}
a.navbar-brand {
    text-align: center;
    white-space: normal;
 }
.navbar {
    font-size: 15px;
    font-weight: 700;
    padding: 0 30px;
}
img.hot {
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
}
.logo img {
    width: 200px;
}
.btn {
    color: #fff;
    background: #2a7ba8;
    font-size: 13px;
}
    .btn:hover {
        background: #ffd101;
    }

.block {
    background: #f5f5f5;
    margin-bottom: 50px;
    position: relative;
    left: 0;
    z-index: 999;
}
    .block p {
        color: #808080;
    }
.heading {
    padding: 50px;
    text-align: center;
}
h2 {
    color: #2a7ba8;
    font-weight: 400;
    font-size: 3em;
    padding: 20px;
}
.contacts-header {
    padding: 10px 0 0 0;
    color: #000000;
}
.contacts-header a{
     color: #2a7ba8;
     text-transform: none;
     font-weight: 700;
}
.contacts-header span {
    padding: 10px;
}
.contacts-header svg {
    width: 25px;
    height: 25px;
}
.vodafone svg {
    fill: red;
}
.kyivstar svg {
    fill: #2a7ba8;
}
.hotel-star svg {
    width: 15px;
    height: 15px;
    fill: #ffd101;
}
.success-form svg {
    width: 120px;
    height: 120px;
    fill: green;
}
/******************TOURS******************************/
/*.tours {
    margin-top: 110px;
    padding: 50px 0;
}*/
.choose-tour {
    margin-top: 100px;
}
.select-country {
    margin: 0 50px 50px 50px;
}
.tour {
    position: relative;
    top: 0;
    width: 100%;
}

.place {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
}

.img-tour img {
    width: 100%;
    position: relative;
    text-align: center;
}

.img-description {
    background: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.date-out svg {
    fill: #fff;
    width: 22px;
    height: 22px;
}

.price {
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
}

.more {
    background: #ffd101;
}

a.more {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}

.more:hover {
    background: #2a7ba8;
    color: #ffd101;
}

a.more {
    color: #2a7ba8;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}

.more a:hover {
    color: #ffd101;
}

.star {
    position: absolute;
    top: 10px;
    left: 20px;
}

    .star p {
        color: #fff;
        font-weight: 800;
    }

/* Sticky footer styles
-------------------------------------------------- */
footer {
    border-top: 2px solid #2a7ba8;
    color: #fff;
    margin-top: 120px;
    background: #1d1c1c;
}
.footer-container {
    padding: 50px 20px;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
    padding: 5px 0;
}
footer a {
    text-transform: capitalize;
    color: #fff;
}
footer a:hover{
    text-decoration: none;
    color: #c2bebe;
}
footer h6{ 
    padding: 5px 0;
}
footer svg {
    width: 20px;
    height: 20px;
}
footer span {padding: 0 10px;}
.contacts svg {fill: #2a7ba8;}
svg.facebook {fill: #3b5998;}
svg.viber {fill: #665CAC;}
svg.whatsapp {fill: #43d854;}

.footer-copyright {
    background: #232323;
}
.navbar-scroll {
    background: #232323;
    transition: all .6s ease;
}
.header-item {color: #fff;}
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

    /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #c6c3c3;
}

        /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

    /* Set a style for the submit/login button */
.form-container .btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
.open-button {
    cursor: pointer;
    color: #2a7ba8;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* Sticky media styles
-------------------------------------------------- */
@media (min-width: 768px) {
    html {
            font-size: 16px;
        }
    .block h2 {
        font-size: 26px;
    }
}
@media (max-width: 991px) {
    .tours {
        margin-top: 20px;
    }
    .navbar {
        background: #232323;
    }
}
@media (min-width: 1200px) {
    .banner-wave img {
        bottom: -20px;
    }
  }

