
.hero-carousel {
    z-index: 1001;
}
.side-filter {
    margin-left: 150px;
}
.card {
    color: #2a7ba8;
}
.card-header h5 {font-size: 18px;}

 .openbtn {
    display: none;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #2a7ba8;
    background: #fff;
    color: #2a7ba8;
    padding: 10px 15px;
}
 .openbtn svg {
    width: 25px;
    height: 25px;
    fill: #2a7ba8;
}
.closebtn {
    display: none;
}
.openbtn:hover {
    background-color: #ffd101;
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}
.open-button {
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}
