<div class="container-fluid m-0 p-0">
  <div class="container footer-container">
    <div class="row">
      <div class="col-sm-4">
        <h5>DIS tour</h5>
        <p>Туристична фірма DIS tour - основною метею є задовільнити туриста під час перебування його на відпочинку, а також залишити позитивні враження. Політика нашої компанії повідомляти туриста про недоліки, які можуть супроводжувати його під час відпочинку.</p>
      </div>
      <div class="col-sm-4 contacts">
        <h5>Контакти</h5>
        <ul>
          <li>
            <svg>
              <use xlink:href="/svg/sprite.svg#phone-call"></use>
            </svg>
            <span>+380 95 409 32 96</span><br />
            <span>+380 970360886</span>
          </li>
          <li>
            <svg>
              <use xlink:href="/svg/sprite.svg#email"></use>
            </svg><span>distour2020@gmail.com</span>
          </li>
          <li>
            <svg>
              <use xlink:href="/svg/sprite.svg#placeholder"></use>
            </svg><span>м. Чернівці, вул. Александрі, 9-А</span>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 socials">
        <h5>Ми в соціальних мережах</h5>
        <ul>
          <li>
            <a href="https://www.facebook.com/GoUkraine-106603431413393/">
              <svg class="facebook">
                <use xlink:href="/svg/sprite.svg#facebook"></use>
              </svg><span>Facebook </span>
            </a>
          </li>
          <li>
            <a href="viber://number=380669957091">
              <svg class="viber">
                <use xlink:href="/svg/sprite.svg#viber"></use>
              </svg><span>Viber</span>
            </a>
          </li>
          <li>
            <a href="whatsapp://send?phone=380669957091">
              <svg class="whatsapp">
                <use xlink:href="/svg/sprite.svg#whatsapp"></use>
              </svg><span>WatsApp</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright text-center p-1">
  <p>© @DateTime.Now.Year DIS tour </p>
</div><!-- Copyright -->