
<div class="contacts-header text-center">
  <span class="vodafone">
    <svg>
      <use xlink:href="/svg/sprite.svg#vodafone_6830"></use>
    </svg><span class="text">+38 066 995 7091</span>
  </span>
  <span class="kyivstar">
    <svg>
      <use xlink:href="/svg/sprite.svg#Kyivstar_GSM"></use>
    </svg><span class="text">+38 067 995 7091</span>
  </span>
  <a class="open-button" onclick="openForm()"> <span class="text">Зателефонуйте мені</span> </a>
  <div class="form-popup" id="myForm">
    <form class="form-container bg-light rounded">
      <span aria-hidden="true" class="btnClose d-flex justify-content-end pt-0" role="button">&times;</span>
      <p class="font-weight-bold">Введіть номер телефону</p>
      <input type="text" class="text-primary" placeholder="+38 (0ХХ) ХХХ ХХ ХХ" name="number" required>
      <button type="button" class="btn" onclick="closeForm()">Зателефонувати</button>
    </form>
    <form class="form-container text-center success-form bg-light d-none">
      <p class="font-weight-bold m-0 pt-5">Дякую!</p>
      <p class="font-weight-bold pb-2">Наш мененджер звяжеться з Вами за декілька хвилин</p>
      <span>
        <svg>
          <use xlink:href="/svg/sprite.svg#check-mark"></use>
        </svg>
      </span>
    </form>
  </div>
</div>
<nav class="navbar navbar-expand-lg">
  <h1 class="navbar-brand logo "><img src="~/images/logo.png" alt="GoUkraine" /></h1>
  <button class="navbar-toggler navbar-dark"
          type="button"
          data-toggle="collapse"
          data-target="#navbartoggler"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <section class="collapse navbar-collapse justify-content-end text-center" id="navbartoggler">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/home/Index">Головна</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/home/About">Про нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/ToursOfUkraine">Тури Україною</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/Tours">Пошук турів</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/HotTours"><img class="hot" src="~/images/hotTours/sticker-hot.png" />Гарячі тури</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/BusTours">Автобусні тури</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/home/Gallery">Галерея</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/Blog">Блог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/Contacts">Контакти</a>
      </li>
     </ul>
    
  </section><!--collapse navbar-collapse -->
</nav>