<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GoUkraine</title>
  <link rel="icon" href="~/Content/Images/logo.png" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <header>
    @Html.Partial("_Header")
  </header>
  <div class="container-fluid m-0 p-0 main">
    <main role="main" class="p-0 m-0">
      @RenderBody()
    </main>
  </div>

  <footer>
    @Html.Partial("_Footer")
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/slider/script.js"></script>
  <script src="~/js/slider/popup-img.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
